{% extends "./components/_layout.njk" %}

{% block title %}{{ fullName }}{% endblock %}

{% block page_name %}index{% endblock %}

{% block content %}
  <div class="resume">
    <div class="img_holder">
      <img src="./images/{{ fullName | lower | replace(" ", "_") }}.jpg" alt="{{ fullName }}" class="img">
    </div>
    <h1 class="container container--full_name">
      <span class="col tar">
        {{ firstName }}
      </span>
      <br>
      <span class="col tal">
        {{ lastName }}
      </span>
    </h1>
    <div class="container">
      <div class="col tar">
        <div class="row">
          <h2>Experience</h2>
          <ul class="experience">
            <li class="experience__item">
              <div class="experience__company">
                <a href="https://leadsmarket.com/" target="_blank" rel="noopener">LeadsMarket</a>
              </div>
              <div class="experience__position">Front-end developer</div>
              <div class="experience__period">September 2017</div>
              <p class="experience__description">
                ASP.NET MVC websites support.<br>
                Development of new ones.<br>
                Work with Angular applications.
              </p>
            </li>

            <li class="experience__item">
              <div class="experience__company">
                <a href="http://forforce.com/" target="_blank" rel="noopener">Forforce</a>
              </div>
              <div class="experience__position">HTML-coder</div>
              <div class="experience__period">March 2016 — August 2017</div>
              <p class="experience__description">
                Development and support of websites.<br>
                Work with PrestaShop.
              </p>
            </li>

            <li class="experience__item">
              <div class="experience__company">PixWhite</div>
              <div class="experience__position">HTML-coder</div>
              <div class="experience__period">May 2015 — February 2016</div>
              <p class="experience__description">
                Adaptive, cross-browser<br>
                development of websites.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col tal">
        <div class="row">
          <h2>Contacts</h2>
          <dl>
            <dt>Email</dt>
            <dd>
              <a href="mailto:dyaroman@gmail.com" target="_blank">dyaroman@gmail.com</a>
            </dd>
            <dt>Telegram</dt>
            <dd>
              <a href="https://t.me/dyaroman" target="_blank">t.me/dyaroman</a>
            </dd>
            <dt>GitHub</dt>
            <dd>
              <a href="https://github.com/dyaroman" target="_blank" rel="noopener">
                github.com/{{ username }}
              </a>
            </dd>
            <dt>LinkedIn</dt>
            <dd>
              <a href="https://linkedin.com/in/dyaroman" target="_blank" rel="noopener">
                linkedin.com/in/{{ username }}
              </a>
            </dd>
            <dt>City of residence</dt>
            <dd>Kamianske</dd>
          </dl>
        </div>
        <div class="row">
          <h2>Education</h2>
          <dl>
            <dt>
              Dnipropetrovsk National University<br>
              of Railway Transport
            </dt>
            <dd>Automation, remote control and communication.</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col tar">
        <div class="row">
          <h2>Skills</h2>
          <ul class="skills list">
            <li class="skills__item">English: Pre-Intermediate</li>
            <li class="skills__item">HTML: twig, nunjucks</li>
            <li class="skills__item">CSS: scss, less</li>
            <li class="skills__item">JS: strong junior</li>
            <li class="skills__item">Task runner: Gulp</li>
            <li class="skills__item">VCS: Git</li>
            <li class="skills__item">Repositories: GitHub, GitLab, Bitbucket</li>
            <li class="skills__item">Design: PhotoShop, Figma, InVision, Zeplin</li>
          </ul>
        </div>
      </div>
      <div class="col tal">
        <div class="row">
          <h2>Work examples</h2>
          <ul class="work_examples list">
            <li class="work_examples__item">
              <a href="https://bad-credit-loans.co" target="_blank" rel="noopener" class="work_examples__link">
                bad-credit-loans.co
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://monarchloans.co.uk" target="_blank" rel="noopener" class="work_examples__link">
                monarchloans.co.uk
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://abbeycash.co.uk" target="_blank" rel="noopener" class="work_examples__link">
                abbeycash.co.uk
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://5watt.ua" target="_blank" rel="noopener" class="work_examples__link">
                5watt.ua
              </a>
            </li>

            <li class="work_examples__item">
              <a href="http://edem.ua" target="_blank" rel="noopener" class="work_examples__link">
                edem.ua
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}{% endblock %}
