{% extends "./components/_layout.njk" %}

{% block title %}{{ fullName }}{% endblock %}

{% block page_name %}index{% endblock %}

{% block content %}
  <div class="resume">
    <div class="img_holder">
      <img src="./images/{{ fullName | lower | replace(" ", "_") }}.jpg" alt="{{ fullName }}" class="img">
    </div>
    <div class="container container--full_name">
      <div class="col tar">
        <h1 class="full_name">{{ firstName }}</h1>
      </div>
      <div class="col tal">
        <h2 class="full_name h1">{{ lastName }}</h2>
      </div>
    </div>
    <div class="container">
      <div class="col tar">
        <div class="row">
          <h3>Experience</h3>
          <ul class="experience">
            <li class="experience__item">
              <div class="experience__company">
                <a href="https://leadsmarket.com/" target="_blank" rel="noopener">LeadsMarket</a>
              </div>
              <div class="experience__position">HTML-coder</div>
              <div class="experience__period">September 2017</div>
              <p class="experience__description">
                ASP.NET MVC websites support.<br>
                Development new ones.
              </p>
            </li>

            <li class="experience__item">
              <div class="experience__company">
                <a href="http://forforce.com/" target="_blank" rel="noopener">Forforce</a>
              </div>
              <div class="experience__position">HTML-coder</div>
              <div class="experience__period">March 2016 - August 2017</div>
              <p class="experience__description">
                Adaptive, cross-browser development of websites. Websites support.<br>
                Development new ones. Work with PrestaShop.
              </p>
            </li>

            <li class="experience__item">
              <div class="experience__company">
                <a href="https://pixwhite.ru" target="_blank" rel="noopener">PixWhite</a>
              </div>
              <div class="experience__position">HTML-coder</div>
              <div class="experience__period">May 2015 - February 2016</div>
              <p class="experience__description">
                Adaptive, cross-browser<br>
                development of websites.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col tal">
        <div class="row">
          <h3>Contacts</h3>
          <dl>
            <dt>Email</dt>
            <dd>
              <a href="mailto:dyaroman@gmail.com" target="_blank">dyaroman@gmail.com</a>
            </dd>
            <dt>Phone</dt>
            <dd>
              <a href="tel:+380958395688" target="_blank">095-83-95-688</a>
            </dd>
            <dt>GitHub</dt>
            <dd>
              <a href="https://github.com/dyaroman" target="_blank" rel="noopener">
                github.com/dyaroman
              </a>
            </dd>
            <dt>LinkedIn</dt>
            <dd>
              <a href="https://linkedin.com/in/dyaroman" target="_blank" rel="noopener">
                linkedin.com/in/dyaroman
              </a>
            </dd>
            <dt>City of residence</dt>
            <dd>Kamianske</dd>
          </dl>
        </div>
        <div class="row">
          <h3>Education</h3>
          <dl>
            <dt>
              Dnipropetrovsk National University<br>
              of Railway Transport
            </dt>
            <dd>Automation, remote control and communication.</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col tar">
        <div class="row">
          <h3>Skills</h3>
          <ul class="skills list">
            <li class="skills__item">English: Pre-Intermediate</li>
            <li class="skills__item">HTML: twig, nunjucks</li>
            <li class="skills__item">CSS: scss, less</li>
            <li class="skills__item">JS: strong junior</li>
            <li class="skills__item">Task runner: Gulp</li>
            <li class="skills__item">VCS: Git</li>
            <li class="skills__item">Repositories: GitHub, GitLab, Bitbucket</li>
            <li class="skills__item">Design: PhotoShop, Zeplin, InVision</li>
          </ul>
        </div>
      </div>
      <div class="col tal">
        <div class="row">
          <h3>Work examples</h3>
          <ul class="work_examples list">
            <li class="work_examples__item">
              <a href="https://autoinsurancedojo.com" target="_blank" rel="noopener" class="work_examples__link">
                AutoInsuranceDojo.com
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://carinsurancedojo.com" target="_blank" rel="noopener" class="work_examples__link">
                CarInsuranceDojo.com
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://carinsurancequotespot.com" target="_blank" rel="noopener" class="work_examples__link">
                CarInsuranceQuoteSpot.com
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://carinsuranceheaven.com" target="_blank" rel="noopener" class="work_examples__link">
                CarInsuranceHeaven.com
              </a>
            </li>

            <li class="work_examples__item">
              <a href="https://getinsuredusa.com" target="_blank" rel="noopener" class="work_examples__link">
                GetInsuredUSA.com</a>
            </li>

            <li class="work_examples__item">
              <a href="https://5watt.ua" target="_blank" rel="noopener" class="work_examples__link">5watt.ua</a>
            </li>

            <li class="work_examples__item">
              <a href="http://edem.ua" target="_blank" rel="noopener" class="work_examples__link">edem.ua</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
