{% extends "./components/_layout.njk" %}

{% block title %}
    {{ fullName }}
{% endblock %}

{% block page_name %}index{% endblock %}

{% block content %}
    <div class="resume">
        <section>
            <img width="250" height="250" src="./images/{{ fullName | lower | replace(' ', '_') }}.jpg" alt="{{ fullName }}" class="img">

            <h1>
                {{ firstName }}
                {{ lastName }}
            </h1>
        </section>

        <section>
            <h2>Contacts</h2>
            <dl>
                <dt>Email</dt>
                <dd>
                    <a href="mailto:dyaroman@gmail.com" target="_blank">
                        dyaroman@gmail.com
                    </a>
                </dd>
                <dt>Telegram</dt>
                <dd>
                    <a href="https://t.me/dyaroman" target="_blank" rel="noopener">
                        t.me/dyaroman
                    </a>
                </dd>
                <dt>GitHub</dt>
                <dd>
                    <a href="https://github.com/dyaroman" target="_blank" rel="noopener">
                        github.com/{{ username }}
                    </a>
                </dd>
                <dt>LinkedIn</dt>
                <dd>
                    <a href="https://linkedin.com/in/dyaroman" target="_blank" rel="noopener">
                        linkedin.com/in/{{ username }}
                    </a>
                </dd>
            </dl>
        </section>

        <section>
            <h2>Experience</h2>
            <ul>
                <li>
                    <strong>
                        <a href="https://leadsmarket.com/" target="_blank" rel="noopener">
                            LeadsMarket
                        </a>
                    </strong>
                    <br>
                    Frontend developer
                    <br>
                    <em>September 2017</em>
                    <p>
                        ASP.NET MVC websites support.<br>
                        Development of new ones.<br>
                        Work with Angular applications.
                    </p>
                </li>

                <li>
                    <strong>
                        <a href="http://forforce.com/" target="_blank" rel="noopener">
                            Forforce
                        </a>
                    </strong>
                    <br>
                    HTML-coder
                    <br>
                    <em>March 2016 — August 2017</em>
                    <p>
                        Development and support of websites.<br>
                        Work with PrestaShop.
                    </p>
                </li>

                <li>
                    <strong>PixWhite</strong>
                    <br>
                    HTML-coder
                    <br>
                    <em>May 2015 — February 2016</em>
                    <p>
                        Adaptive, cross-browser<br>
                        development of websites.
                    </p>
                </li>
            </ul>
        </section>

        <section>
            <h2>Skills</h2>
            <dl>
                <dt>English</dt>
                <dd>Intermediate</dd>

                <dt>HTML template engines</dt>
                <dd>Twig</dd>
                <dd>Nunjucks</dd>

                <dt>CSS preprocessors</dt>
                <dd>SCSS</dd>
                <dd>LESS</dd>

                <dt>JS</dt>
                <dd>Low Middle</dd>

                <dt>Framework</dt>
                <dd>Angular</dd>
                <dd>React</dd>

                <dt>Backend</dt>
                <dd>NodeJS (Express)</dd>

                <dt>Database</dt>
                <dd>MongoDB (Mongoose)</dd>

                <dt>Task runner</dt>
                <dd>Gulp</dd>

                <dt>Bundler</dt>
                <dd>Parcel</dd>
                <dd>Webpack</dd>

                <dt>Other</dd>
                <dd>Docker</dd>
                <dd>PWA</dd>
                <dd>Puppeteer</dd>
            </dl>
        </section>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="./sw-register.js"></script>
    <script src="./sw.js"></script>
{% endblock %}
