html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: inherit;
}

a:focus {
  outline: 2px solid #19c953;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 320px;

  background-color: #ccc;
}

.page_wrapper {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
  justify-content: center;

  padding: 30px;

  @media (max-width: 719px) {
    padding: 10px;
  }
}

.resume {
  max-width: 21cm;
  width: 100%;
  min-height: 29.68cm;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;

  hyphens: auto;

  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.row {
  margin-bottom: 30px;
}

.img_holder {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}

.experience__company {
  font-weight: 700;
}

.experience__position {
  font-weight: 300;
}

.experience__period {
  font-style: italic;
}

dt {
  font-weight: 700;
}

dd:not(:last-of-type) {
  margin-bottom: 10px;
}

.download {
  display: block;
  height: 50px;
  padding: 0 12px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  border-radius: 30px;
  background-color: #19c953;

  &:focus {
    outline-color: currentColor;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media print,
(min-width: 720px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 48%;
  }

  .list li {
    position: relative;
  }

  .tal {
    text-align: left;

    .list {
      padding-left: 30px;

      li:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }

  .tar {
    text-align: right;

    .list {
      padding-right: 30px;

      li:after {
        content: '';
        position: absolute;
        top: 10px;
        right: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-right: -2px;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }
}

@media (min-width: 720px) {
  .download:before {
    content: 'download ';
  }

  .download:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 719px) {
  .container--full_name {
    text-align: center;
  }

  .list {
    padding-left: 30px;

    li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -15px;
        display: block;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
        border-radius: 50%;
        background-color: #000;
      }
    }

  }
}

@media print {
  .page_wrapper {
    padding: 0;
  }
  .resume {
    width: 21cm;
    height: 29.68cm;
    margin: 10px 10px 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    page-break-after: auto;
    overflow: hidden;
    box-shadow: none;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: inline-flex;
  }

  a[href^="http"]:before {
    content: 'http://';
  }

  a[href^="https"]:before {
    content: 'https://';
  }

  a[href$=".com/"]:after {
    content: '.com';
  }

  .download {
    display: none;
  }
}
