@primary-color: #19c953;
@text-color: #333;
@body-bg: #ccc;
@resume-bg: #fff;

:root {
  --rd-primary-color: @primary-color;
  --rd-text-color: @text-color;
  --rd-body-bg: @body-bg;
  --rd-resume-bg: @resume-bg;
}
