<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% include "./_og.njk" %}

{% include "./_favicon.njk" %}

<link rel="stylesheet" href="./css/index.css">
