<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% include "./_og.njk" %}

{% include "./_favicon.njk" %}

<link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700" rel="stylesheet">

<link rel="stylesheet" href="./css/index.css">
