<!doctype html>
<html lang="en">
    <head>
        <!--Excelsior!-->
        <title>
            {% block title %}
                {{ siteName }}
            {% endblock %}
        </title>
        {% include "./_head.njk" %}
    </head>
    <body class="page_{% block page_name %}{% endblock %}">
        {% block content %}{% endblock %}
        {% block page_scripts %}{% endblock %}
    </body>
</html>
